.text {
    display: none;
    position: absolute;
    background-color: #333;
    color: #fff;
    padding: 5px;
    font-size: 14px;
    border-radius: 5px;
    top: -100px;
    left: -10px;
    transition: all linear .3s;
}

.nav-link:hover .text {
    display: block;
    top: 0;
}
.nav-link{
    position: relative;
}

ul a{
    top: -10px;
    transition: all linear .3s;
}
ul a:hover{
    top: 0;
}